/* -------------------------------------------- */
/*                 GLOBAL STYLES                */
/* -------------------------------------------- */

:root {
  /* colors */
  --primary-dark: 18, 39, 65;
  --primary-light: 180, 176, 193;
  --accent-dark: 102, 31, 143;
  --accent-light: 136, 224, 239;
}

/* -------------------------------------------- */
/*          MODERN CSS RESET BASED ON           */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* -------------------------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: rgb(var(--primary-dark));
  color: rgb(var(--primary-light));
  font-family: 'Barlow', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------------------------- */
/*           Header / Nav Styles                */
/* -------------------------------------------- */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  background: rgb(var(--primary-dark));
  color: rgb(var(--primary-light));
}

header h1 {
  margin: 0 20px;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-size: clamp(2rem, 3vw, 4rem);
  color: rgb(var(--accent-light));
  z-index: 999;
}

nav {
  width: 100vw;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 0;
}

nav a {
  padding: 0 20px;
  color: rgb(var(--primary-light));
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  font-size: clamp(1rem, 3vh, 1.5rem);
}

nav a:hover {
  padding: 100% 20px;
  background: rgb(var(--accent-dark));
  color: rgba(var(--accent-light));
  transition: padding 2s, background 0.3s, color 0.3s;
}

/* -------------------------------------------- */
/*           Hero Section Styling               */
/* -------------------------------------------- */

.hero-image {
  background-image: url('../assets/images/milky-way-mobile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  position: relative;
}

.hero-image h2 {
  background: rgba(var(--accent-light), 0.8);
  color: rgb(var(--primary-dark));
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 20px;
  font-family: 'Roboto Mono', monospace;
  font-size: clamp(1.2rem, 3vw, 3rem);
}

/* -------------------------------------------- */
/*        Main Content Section Styling          */
/* -------------------------------------------- */

section {
  display: flex;
  flex-direction: column;
  margin: 25px auto;
}

section h2 {
  text-align: center;
  margin: 10px auto 20px auto;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(var(--accent-dark));
  width: 80vw;
  font-size: clamp(2rem, 3vw, 4rem);
  text-transform: uppercase;
}

/* About me styling */
.about p {
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 10px;
}

.about img {
  width: min(25%, calc(35% + 10px));
  float: left;
  shape-outside: circle(50%);
  padding-right: 10px;
  border-radius: 45%;
}

/* My work styling */
.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 95vw;
  margin: 0 auto;
}

.project {
  position: relative;
  border: 2px solid rgba(var(--accent-light));
  background: rgb(var(--accent-dark));
  overflow: hidden;
}

.project img {
  width: 100%;
  object-fit: cover;
  object-position: bottom center;
  opacity: 0.4;
  transition: opacity 0.5s ease-in-out;
}

.project:hover img {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.project .label {
  position: absolute;
  left: 0;
  bottom: 3vw;
  background: rgb(var(--accent-light));
  padding: 10px 20px 10px 5px;
  color: rgb(var(--primary-dark));
  font-weight: 500;
  z-index: 3;
  box-shadow: 0px 10px 15px -5px rgba(18, 39, 65, 0.8);
}

.project:nth-child(even) .label {
  left: auto;
  right: 0;
  padding: 10px 5px 10px 20px;
}

.label p:first-child {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.label p:nth-child(2) {
  font-weight: 100;
}

/* Contact me styling */
.contact-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact a {
  padding: 20px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.contact img {
  filter: invert(67%) sepia(2%) saturate(1426%) hue-rotate(213deg)
    brightness(106%) contrast(93%);
  width: 50px;
}

.contact a:hover {
  background: rgb(var(--accent-dark));
  transition: background 0.4s ease-in-out;
}

.contact a:hover img {
  filter: invert(85%) sepia(15%) saturate(1162%) hue-rotate(149deg)
    brightness(99%) contrast(90%);
  transition: filter 0.4s ease-in-out;
}

/* -------------------------------------------- */
/*                Footer Styling                */
/* -------------------------------------------- */

footer {
  text-align: center;
  margin-top: 25px;
  padding: 10px 0;
  background: rgb(var(--primary-light));
  color: rgb(var(--primary-dark));
}

/* -------------------------------------------- */
/*                Media Queries                 */
/* -------------------------------------------- */

/* Tablet styling */
@media screen and (min-width: 50rem) {
  /* Hero image styling */
  .hero-image {
    background-image: url('../assets/images/milky-way-tablet.jpg');
  }

  /* Section styles */
  section {
    width: 90vw;
  }

  /* My Work tablet styles */
  .projects {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  .project {
    height: 30vw;
    width: 50%;
  }

  .project:first-child {
    width: 100%;
  }

  .project:nth-child(even) .label {
    left: 0;
    right: auto;
    padding: 10px 20px 10px 5px;
  }

  .project img {
    width: 100%;
    height: 100%;
    object-position: 50% 25%;
  }
}

/* Desktop styling */
@media screen and (min-width: 62.5rem) {
  /* Header/Nav styling */
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    width: 50vw;
  }

  /* Hero Styling */
  .hero-image {
    background-image: url('../assets/images/milky-way-desktop.jpg');
  }

  /* Section Styling */
  section {
    flex-direction: row;
    width: min(1250px, calc(80% + 100px));
    margin: 20px auto;
  }

  section h2 {
    text-align: right;
    margin: 0;
    margin-right: 30px;
    padding-right: 20px;
    border-bottom: none;
    border-right: 2px solid rgb(var(--accent-dark));
    font-size: clamp(2rem, 4vw, 5rem);
    text-transform: uppercase;
    flex: 0 0 20vw;
  }

  /* My Work styling */
  .projects {
    padding: 20px 0;
  }
  .project {
    height: 15vh;
  }

  .project img {
    width: 100%;
    height: 100%;
    object-position: 50% 25%;
  }

  .project .label {
    bottom: 1vw;
  }
}
